<html>
  <head>
    <meta charset="utf-8" />
    <title>Scholar minds</title>
    <link rel="stylesheet" href="{{css}}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>

    {{{body}}}

    <script src="{{script}}"></script>
  </body>
</html>