<header class="header">
        <a href="index.html" class="logo">
            <img src="../public/images/logo2.png" alt="">
        </a>
       <nav class="navbar">
        <a href="/">Home</a> 
        <a href="/status">Application Status</a> 
        <a href="/allunis">Filters</a> 
        <a href="/style">Community</a> 
        <a href="/tutorial">Resource lib</a>
        <a href="/profile">Profile</a> 
       </nav>
    </header>

    <section>
        <div class="Signup-page">
            <h1>Login</h1>
            <form action="" method="post" id="form">
                <input type="email" name="input-email" id="input-email"><label for="email" id="email">Email&#8205; &#8205; &#8205; &#8205; &#8205; &#8205; &#8205; &#8205; </label>
                <input type="password" name="password" id="input-pass"><label for="password">Password</label>
                <a href="/signup">Don't have an account?</a>
                <input type="submit" value="Login" id="Signup">
            </form>
        </div>
    </section>