@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root{
    --text: #2c2c2c;
    --background: #ffffff;
    --primary: #25e6cf;
    --secondary: #afdfef;
    --accent:#125869; 
    --border: 1rem solid rgba(255,255,255,.3);

}
*{
    font-family: 'Roboto',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
.header{
    background: #125869;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    border-bottom: var(--border);
    top:0; left:0; right:0;
    z-index: 1000;
    height: 100px;
}

.header .logo img{
    margin-top: 20%;
    height: 180px;
    width: 180px;
    align-items: center;
    margin-right: 90%;
    vertical-align: middle;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 1rem;
    color: #fff;
}
.header .navbar a:hover{
    color: var(--secondary);
    border-bottom: .5rem solid var(--primary);
    padding-bottom: .1rem;
}
.header .icon div{
    color: var(--text);
    cursor: pointer;
    font-size: 2.5rem;
    
}
.header .icon div:hover{
    color: var(--primary);
}

body {
    background-color: var(--secondary);
    margin: 0;
    padding: 0;
}
.container {
    padding: 20px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px 20px 150px;
}

.button {
    background-color: var(--accent);
    line-height: 2rem;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 30px;
    width: 200px;
    height: 50px;
}

.button:hover {
    background-color: var(--text);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--accent);
    width: calc(33.33% - 20px); 
    width: 45%;
    height: 300px;
    color: aliceblue;
    line-height: 2rem;

}

.card:hover{
    background-color: var(--text);
    scale:1.05;
    transition-delay: 0.2s;
}